body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #2b2d42, #d90429);
    color: white;
}

#nav-bar {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

#nav-bar .logo img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

#nav-bar .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0 20px;
}

#nav-bar .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

#nav-bar .nav-links div {
    margin: 0 15px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    font-size: 18px;
    padding: 8px 16px;
}

#nav-bar .nav-links div:hover {
    color: #007BFF;
    transform: scale(1.1);
}

#nav-bar .user-profile {
    display: flex;
    align-items: center;
}

#nav-bar .user-profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#nav-bar .user-profile img:hover {
    transform: scale(1.1);
}

#nav-bar .dropdown {
    position: relative;
    display: none;
}

#nav-bar .dropbtn {
    background-color: rgba(47, 186, 211, 0.75);
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 13px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#nav-bar .dropbtn:hover {
    background-color: rgba(37, 156, 181, 0.75);
    transform: scale(1.1);
}

#nav-bar .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    border-radius: 8px;
    width: 250px;
    animation: fadeIn 0.3s ease-in-out;
    padding: 10px;
}

#nav-bar .dropdown-content div {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    margin: 5px 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
}

#nav-bar .dropdown-content div:hover {
    background-color: #007BFF;
    transform: scale(1.05);
}

#nav-bar .dropdown:hover .dropdown-content {
    display: block;
}

#withdrawal-history {
    padding: 20px;
    text-align: center;
}

#withdrawal-history h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.payment-card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    padding: 15px;
    max-width: 500px;
    text-align: left;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
    animation: fadeInUp 0.5s ease-in-out;
}

.payment-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.payment-card-content {
    animation: fadeInUp 0.5s ease-in-out;
}

.payment-card div {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.payment-card .approved {
    color: green;
    font-weight: bold;
    font: 25px;
}

.payment-card .pending {
    color: orange;
    font-weight: bold;
    font: 22px;
}

.payment-card .rejected {
    color: red;
    font-weight: bold;
    font: 25px;
}

@media (max-width: 768px) {
    #nav-bar .nav-links {
        display: none;
    }

    #nav-bar .dropdown {
        display: block;
    }

    #nav-bar .user-profile {
        margin: 0 auto;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Spinner styles */
#spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    color: white;
    font-size: 18px;
    text-align: center;
}

.spinner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 50px;
}

.spinner-bar {
    width: 10px;
    height: 100%;
    background-color: #007BFF;
    animation: spinner 1.2s infinite ease-in-out;
}

.spinner-bar:nth-child(1) {
    animation-delay: -1.1s;
}

.spinner-bar:nth-child(2) {
    animation-delay: -1.0s;
}

.spinner-bar:nth-child(3) {
    animation-delay: -0.9s;
}

.spinner-bar:nth-child(4) {
    animation-delay: -0.8s;
}

@keyframes spinner {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
    }
}

.spinner-message {
    margin-top: 20px;
    font-size: 24px;
    color: #ffffff;
}

